@media (min-width: 768.50px){

  body{
    max-width: 960px;
    margin: auto;
    margin-top: 2.5%;
    background-color: rgb(173, 169, 169);
    text-align: center;
  }
  
   header:first-child{
    height: 100px;
    width: 100%;
    background-color: purple;
  }
  
  
  article:nth-child(1){
    background-color: orange;
    height: 600px;
    width: 20.84%;
    float: left; 
   } 
  
  article:nth-child(n+2){
    background-color: rgb(0, 38, 255);
    height: 200px;
    width: 39.58%;
    float: left;
  }
  
  p{
    height: 250px;
    background-color: greenyellow;
    width: 19.79%;
    float: left;
  }
  
  footer > ul{
    background-color: hotpink;
    height: 150px;
    width: 79.16%;
    float: left;
    
  }

}

@media (max-width: 768.50px){
body{
  width: auto;
  margin: auto;
  margin-top: 2.5%;
  background-color: rgb(173, 169, 169);
  text-align: center;
}

header:first-child{
  height: 75px;
  background-color: purple;
}

article:nth-child(1){
  background-color: orange;
  height: 150px;
}

article:nth-child(n+2){
  background-color: rgb(0, 38, 255);
  height: 125px;
}

div p:nth-child(odd){
  float: left;
}
div p:nth-child(even){
  float: right;
}


p{
  height: 250px;
  background-color: greenyellow;
  width: 50%;
}

footer > ul{
  background-color: hotpink;
  height: 80px;
  width: 100%;
  float: left;
}

}